<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Duplicate Files</title>
    <style>
        .hidden {
            display: none;
        }

        .hidden-image {
            max-width: 200px;
            /* Adjust max-width as needed */
            padding: 5px;
            border: 1px solid #ddd;
            background-color: white;
        }

        .hidden-image img {
            width: 100%;
            /* Adjust image width as needed */
        }

        .delete-button {
            cursor: pointer;
            color: red;
            margin-left: 10px;
        }

        .success-message {
            color: green;
        }

        .error-message {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Duplicated Files</h1>
    <ul id="hashList">
        {{ range $index, $data := . }}
        <li>
            <b>Hash:</b> <span class="hash">{{ $data.Hash }}</span>
            <ul class="hidden">
                {{ range $index, $file := $data.Files }}
                <li>
                    <a>{{ $file }}</a>
                    <button class="delete-button">Delete</button>
                    <div class="response"></div>
                    <div class="hidden-image"></div>
                </li>
                {{ end }}
            </ul>
        </li>
        {{ end }}
    </ul>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var hashElements = document.querySelectorAll(".hash");

            hashElements.forEach(function (hashElement) {
                hashElement.addEventListener("click", function () {
                    var parentElement = hashElement.parentElement;
                    var fileList = parentElement.querySelector("ul");
                    var files = fileList.querySelectorAll("li");

                    if (fileList.classList.contains("hidden")) {
                        fetchFiles(files);
                    }

                    fileList.classList.toggle("hidden");
                });
            });

            var deleteButtons = document.querySelectorAll(".delete-button");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function (event) {
                    var fileElement = button.parentElement;
                    var fileAnchor = fileElement.querySelector("a");
                    var filePath = fileAnchor.textContent.trim();
                    var responseDiv = fileElement.querySelector(".response");
                    deleteFile(filePath, responseDiv);
                });
            });

            function fetchFiles(files) {
                files.forEach(function (fileElement) {
                    var fileAnchor = fileElement.querySelector("a");
                    var filePath = fileAnchor.textContent.trim();

                    fetchImageData(filePath)
                        .then(function (imageData) {
                            var imageContainer = fileElement.querySelector(".hidden-image");
                            imageContainer.innerHTML = '<img src="data:' + imageData.mime + ';base64,' + imageData.data + '">';
                        })
                        .catch(function (error) {
                            console.error("Error fetching image data:", error);
                        });
                });
            }

            function fetchImageData(filePath) {
                return fetch("image?path=" + encodeURIComponent(filePath))
                    .then(function (response) {
                        if (!response.ok) {
                            throw new Error("Failed to fetch image data");
                        }
                        return response.json();
                    });
            }

            function deleteFile(filePath, responseDiv) {
                fetch("delete?path=" + encodeURIComponent(filePath), {
                    method: "DELETE"
                })
                    .then(function (response) {
                        if (response.ok) {
                            responseDiv.textContent = "Deleted successfully";
                            responseDiv.classList.add("success-message");
                        } else {
                            response.json().then(function (data) {
                                responseDiv.textContent = "Failed to delete: " + data.error;
                                responseDiv.classList.add("error-message");
                            });
                        }
                    })
                    .catch(function (error) {
                        console.error("Error deleting file:", error);
                        responseDiv.textContent = "Failed to delete: " + error.message;
                        responseDiv.classList.add("error-message");
                    });
            }
        });
    </script>
</body>

</html>